<div class='container'>
  <div class='row'>
    <div id='map' class='col-8'>
    </div>
    
    <div id='controls' class='d-flex align-items-center col-4'>
      <div id='state_dropdown' class="dropdown align-self">
        Select a State:
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          State
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class='dropdown-item' href="/">Home</a>
          <% @states.each do |state| %>
            <a class='dropdown-item' href="/?state_id=<%= state.id %>"> <%= state.name %></a>
          <% end %>
        </div>
      </div>
      <div class='align-self'>
        <% if @state.nil? %>
          <% state_id = nil %>
        <% else %>
          <% state_id = @state.id %>
          Insert Temperature: <%= text_field_tag :search, '' , data: {'js-search' => true} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  <% if @state %>
    state_id = '<%= @state.id %>';
    state_lat = '<%= @state.lat %>';
    state_lng = '<%= @state.long %>';
    state_zoom = '<%= @state.zoom %>';
  <% else %>
    state_id = 0;
    state_lat = 37.94;
    state_lng = -98.31;
    state_zoom = 4;
  <% end %>
<% end %>

<%= javascript_pack_tag 'map' %>
